body {
  
  background: url("../img/bg/bg-1.png");
  margin: 20px 20px;
  width: 660px;
  overflow: auto;

}

h1 {
  
  color: #FFCC38;
  font-size: 1.3em;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #FFF;
}

h2 {
  
  color: #000000;
  font-size: .95em;
  text-shadow: 1px 1px 0px #FFF;
  margin: 40px 0px 10px 0px;
}

h3 {
  
  color: #FFCC38;
  font-size: .95em;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #FFF;
  margin: 40px 0px 10px 0px;
}

h5 {
  
  color: #536C6C;
  font-size: .80em;
  text-shadow: 1px 1px 0px #FFF;
  margin: 20px 0px 10px 22px;
}

p {
  
  color: #000000;
  font-size: .8em;
  text-shadow: 1px 1px 0px #FFF;
  margin: 2.5px 0px 2.5px 22px;
}

q {
  
  color: #000000;
  font-size: .8em;
  text-shadow: 1px 1px 0px #FFF;
  margin: 2.5px 0px 2.5px 22px;
}

a {
  
  text-decoration: none;
  text-shadow: 1px 1px 0px #FFF;
  color: #000000;
}

li {
  
  color: #000000;
  font-size: .8em;
  margin: 2.5px 0px;
}


a:hover {
  
  color: #FFCC38;
  text-shadow: 1px 1px 0px #FFF;
}

.color-1 {
  
  background: #FFCC38;
  width: 40px;
  height: 40px;
}

.color-2 {
  
  background: #536C6C;
  width: 40px;
  height: 40px;
}

.color-3 {
  
  background: #000000;
  width: 40px;
  height: 40px;
}

.banner img {

	border-radius: 30%;
}

.banner h4 {

	margin: -15px 0px 35px 0px;
  text-transform: lowercase;
}

.quote  {

	margin: 0px 0px 10px 0px;
}


nav ul {

	margin: -15px;
	padding: 15px 0px;
}

nav li {

  font-size: 1em;
	display: inline;
  text-align: center;

}

nav a {

  color: #536C6C;
  margin: 0px 15px;

}

footer ul {

  	margin: 0px 300px 0px 455px;
  	padding: 0px;

}

footer li {

	display: inline;
}