html {

	@import url("//hello.myfonts.net/count/29a22e");
	margin: 0px 0px 0px 320px;

}

html h3 {

	font-family: 'SoinSansPro-Thin';src: url('webfonts/29A22E_6_0.eot');src: url('webfonts/29A22E_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/29A22E_6_0.woff') format('woff'),url('webfonts/29A22E_6_0.ttf') format('truetype');	text-align: left;
	font-size: 25px;

}

html p, q, a, ul {

	font-family: 'SoinSansPro-Roman';src: url('webfonts/29A22E_3_0.eot');src: url('webfonts/29A22E_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/29A22E_3_0.woff') format('woff'),url('webfonts/29A22E_3_0.ttf') format('truetype');
	font-size: 18px;

}


.banner {

	font-family: 'SoinSansPro-Thin';src: url('webfonts/29A22E_6_0.eot');src: url('webfonts/29A22E_6_0.eot?#iefix') format('embedded-opentype'),url('webfonts/29A22E_6_0.woff') format('woff'),url('webfonts/29A22E_6_0.ttf') format('truetype');	text-align: left;
	background-image: url("../img/bg/banner.png");
	padding: 20px 20px 20px 30px;

}


.banner h1 {

	font-size: 82px;
	margin: 0px 0px -15px 0px ;
}


.banner h4 {

	font-size: 31px;
	margin: 0px 0px 0px 598px;
}


.banner img {

	border-radius: 35px;
}

.links a {

	text-decoration: none;

}

/*.quote {

	margin: -140px 0px 0px 290px;
	padding: 0px 0px 0px 0px;
} */
